---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

* Mentor, High School Internship Mentor, Jun 2022 - Jan 2023
  *Topic: Exploring Security Patch in Python

* Teaching Assistant, George Mason University, Sep 2022 - May 2023
  * Course: AIT 664 - Information: Representation, Processing and Visualization
  * Course: AIT 724 - Data Analytics in Social Media
